/*
 * Whoa whoa whoa, wait a sec...why are we overriding global CSS selectors?
 * Isn't that kind of scary? How do we know this won't have side effects?
 *
 * In Remix, CSS that is included in a route file will *only* show up on that
 * route (and for nested routes, its children). When the user navigates away
 * from that route the CSS files linked from those routes will be automatically
 * unloaded, making your styles much easier to predict and control.
 *
 * Read more about styling routes in the docs:
 * https://remix.run/guides/styling
 */

:root {
  --color-foreground: hsl(0, 0%, 0%);
  --color-background: hsl(218, 100%, 50%);
  --color-links: hsl(94, 68%, 29%);
  --color-links-hover: hsl(0, 98%, 60%);
  --color-border: rgb(134, 134, 134);
  --font-body: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --background-image: url("../images/forest.jpg");
}

.demo-aside {
  background-color: rgb(61, 61, 61, 0.85);
}

.about__intro {
  max-width: 500px;
}
