 :root {
    --color-foreground: hsl(0, 0%, 7%);
    --color-background: hsl(0, 0%, 100%);
    --color-links: hsl(213, 100%, 52%);
    --color-links-hover: hsl(213, 100%, 43%);
    --color-border: hsl(0, 0%, 82%);
    --border-radius: 0.5rem;
    --font-body: -apple-system, "Segoe UI", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif, system-ui, "Apple Color Emoji", "Segoe UI Emoji";
    --background-image: none;
  }

[data-theme="dark"] {
    --color-foreground: hsl(0, 0%, 100%);
    --color-background: hsl(0, 0%, 7%);
    --color-links: hsl(213, 100%, 73%);
    --color-links-hover: hsl(213, 100%, 80%);
    --color-border: hsl(0, 0%, 25%);
  }
  

   [data-theme="image"] {
    --color-foreground: hsl(0, 0%, 0%);
    /* --color-background: hsl(218, 100%, 50%); */
    --color-links: hsl(94, 68%, 29%);
    --color-links-hover: hsl(0, 98%, 60%);
    --color-border: rgb(134, 134, 134);
    --font-body: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    --background-image: url("../images/forest.jpg");
  }

  [data-theme="yellow"] {
    --color-foreground: hsl(0, 0%, 7%);
    --color-background: hsl(56, 100%, 50%);
    --color-links: hsl(0, 93%, 60%);
    --color-links-hover: hsl(345, 86%, 42%);
  
    --background-image: none;
  }

  [data-theme="blue"] {
    --color-foreground: hsl(0, 0%, 100%);
    --color-background: hsl(218, 100%, 50%);
    --color-links: hsl(112, 64%, 56%);
    --color-links-hover: hsl(345, 51%, 49%);
    --color-border: rgb(184, 20, 58);
    --font-body: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    --background-image: none;
  }